@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base globales del sistema */
:root {
  color-scheme: light dark;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.surface.50');
  color: theme('colors.surface.900');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
